<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Signup Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Signup Page</h1>-->
<!--<form th:object="${signupForm}" action="/signup" method="post">-->
<!--    <input type="text" th:field="*{username}" placeholder="Username"><br>-->
<!--    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>-->
<!--    <input type="email" th:field="*{email}" placeholder="Email"><br>-->
<!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>-->
<!--    <input type="password" th:field="*{password}" placeholder="Password"><br>-->
<!--    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>-->
<!--    <button type="submit">Signup</button>-->
<!--</form>-->
<!--<p th:text="${error}" th:if="${error}"></p>-->
<!--<p th:text="${success}" th:if="${success}"></p>-->
<!--</body>-->
<!--</html>-->
